[submodule "map_featurematcher/src/superglue_lib"]
	path = map_featurematcher/src/superglue_lib
	url = https://github.com/magicleap/SuperGluePretrainedNetwork.git
[submodule "superglue_lib"]
	path = map_featurematcher/src/superglue_lib
	url = https://github.com/magicleap/SuperGluePretrainedNetwork.git
