<?xml version="1.0"?>

<launch>

	<env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find final_2025)/models"/>
	<env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find final_2025)/models"/>
	
	<!-- Include the MAVROS node with SITL and Gazebo -->
	<include file="$(find final_2025)/launch/iris_sitl.launch">
		 <arg name="world" default="$(find final_2025)/world/final.world"/>
	</include>

	<!-- Our node to control  drone -->
	<node pkg="final_2025" type="offb_node.py" name="offb_node_py" required="true" output="screen" />

</launch>